<%layout('/layouts/boilerplate')%>
<body>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/dest2.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        World tour with Wonderlust_tracker
      </h1>
      <p class="lead">
        <b> Benefits of travel</b><br />
        Travel can be a refreshing experience that teaches you new skills, helps
        you understand people, and allows you to explore nature

        <br />
        <b> Meeting new people</b><br />
        Travel allows you to meet new people, make friends, and enhance your
        social skills.
        <br />
        <b>Learning new skills</b> <br />Travel can teach you new skills, such
        as trekking or scuba diving. <b> Understanding people</b> <br />Travel
        allows you to learn about other cultures and people, and become more
        open-minded.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/listings">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
            Explore-Destinations
          </button>
        </a>
      </div>
    </div>
  </div>
</body>
