<%layout('/layouts/boilerplate')%>
<style>
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
    opacity: 0.7;
  }

  .filter:hover {
    cursor: pointer;
    opacity: 1;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info {
    display: none;
  }
  .tax-toggle {
    border: 1px solid grey;
    border-radius: 8px;
    height: 2.5rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
</style>
<body>
  <div class="filters">
    <div class="filter">
      <div>
        <i class="fa-solid fa-fire"></i>
      </div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
    <!-- <div class="filter">
      <div><i class="fa-solid fa-ship"></i></div>
      <p>Boating</p>
    </div> -->

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>
  <!-- <h3>All_Listings</h3> -->
  <!-- <form action="/listings/new" method="get">
    <button>Create-Listings</button>
  </form> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let list of allListings){%>
    <a href="/listings/<%=list._id%>" class="card-link">
      <div class="card listing-card">
        <img
          src="<%=list.image.url%>"
          class="card-img-top"
          alt="listing_images"
          style="height: 20rem"
        />
        <div class="card-body">
          <p class="card-text">
            <strong><%=list.title%></strong> <br />
            &#8377;<%=list.price.toLocaleString("en-IN")%> / night
            <i class="tax-info"> &nbsp; &nbsp; +18% Gst</i>
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
</body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    // alert("clicket");
    let taxInfo = document.getElementsByClassName("tax-info");
    for (let info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
